body{color: #434455; font-family:'Roboto', sans-serif; background-color:#FFFFFF;}
ul{list-style: none;}
a{text-decoration: none;}

.header-logo {color:#4D5AE5;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;}
.contacts {font-style: normal}

.header-studio {color: #2E2F42;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;}


.menu-item {font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    font-style: normal;}

.menu-item:hover {
    color: #404bbf;
}

.menu-item:focus {
    color: #404bbf;
}


.contacts-item-link {color:#434455;
    font-size: 16px;
    font-weight: 400;
    line-height:1.5;
    font-style: normal;
    letter-spacing:0.02em;}

.contacts-item-link:hover{color: #404bbf;}
.contacts-item-link:focus {color: #404bbf;
}
.section-one {background-color: #2E2F42;}

.section-one-title {color: #FFF;
    text-align: center;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;}

.button {font-family: "Roboto", sans-serif;
    background-color: #4D5AE5;
    color:#ffffff;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    }
.button:hover {background-color: #404BBF;}
.button:focus {background-color: #404BBF;}
.advantages-item-name {
        color: #2E2F42;
        font-family: "Roboto", sans-serif;
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
    }

.advantages-item-description {color:#434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    font-style: normal;
    letter-spacing: 0.02em;}
.section-team{background-color: #F4F4FD}
.section-team-cards {background-color: #FFFFFF}
.section-team-title {color:#2E2F42;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;}


.section-team-subtitle {color:#2E2F42;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    font-style: normal;
    letter-spacing: 0.02em;}

.section-team-text {color:#434455;
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    font-style: normal;
    letter-spacing: 0.02em;}

.section-portfolio{background-color: #F4F4FD}
.section-portfolio-list-item {background-color: #FFFFFF}
.section-portfolio-title {color:#2E2F42;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;}
.section-portfolio-subtitle {color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    font-style: normal;
    letter-spacing: 0.02em;}

.section-portfolio-text {color:#434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;}

.footer {background:#2E2F42;}

.footer-logo {color: #4D5AE5;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    font-style: normal;
    letter-spacing: 0.03em;
    text-transform: uppercase;}

.footer-studio {color:#F4F4FD;
    font-family: "Raleway",sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;}

.footer-text {color:#F4F4FD;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;}